{% extends "orders/base_order.html" %}

{% load  static %}

{% block panel-content %}
  <div class="container" style="padding-top:.5rem;">
      <div class="row m-3">
      <div class="col-sm-12 col-md-2 mt-2">
        <div class="d-grid gap-2">
          <a href="{% url 'orders_app:orders-list-today' %}" class="btn btn-outline-success" type="button" style="font-size: 1rem; height:2.4rem;">Pedidos del día</a>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mt-2">
        <div class="d-grid gap-2">
          <a href="{% url 'orders_app:orders-list' %}" class="btn btn-outline-danger" type="button" style="font-size: 1rem; height:2.4rem;">Pedidos Proximos</a>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mt-2">
        <div class="d-grid gap-2">
          <a href="{% url 'orders_app:orders-end' %}" class="btn btn-outline-primary" type="button" style="font-size: 1rem; height:2.4rem;">Pedidos Entregados</a>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mt-2">
        <div class="d-grid gap-2">
          <button class="btn btn-outline-primary" type="button" style="font-size: 1rem; height:2.4rem;">Historial de pedidos</button>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mt-2">
        <div class="d-grid gap-2">
          <a href="{% url 'venta_app:venta-index' id=user.id car_num='0' %}" class="btn btn-outline-dark" type="button" style="font-size: 1rem; height:2.4rem;">Volver a vender</a>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center" >
      <div class="col-12">
        <table class="table">
          <thead>
            <tr align="center">
              <th scope="col">#</th>
              <th scope="col">Cliente</th>
              <th scope="col">Cajero</th>
              <th scope="col">Total</th>
              <th scope="col">Ver</th>
              <th scope="col">Entregado</th>
            </tr>
          </thead>
          <tbody>
            {% for pedido in pedidos %}
                {% if pedido.day_night == True %}
                <tr class="table-primary" >
                {% else %}
                <tr class="table-warning" >
                {% endif %}
              <th scope="row" align="center">{{ pedido.id }}</th>
              <td align="center">{{ pedido.client.name }}</td>
              <td align="center">{{ pedido.user.full_name }}</td>
              <td align="center" >{{ pedido.amount }}</td>

              <td align="center">
                <a href="{% url 'orders_app:orders-view' pedido.id %}" class="button alert"><i class="fi-x">
                  <img src="../../../static/img/ionicons/eye-outline.svg" alt="Bootstrap" width="32" height="32" style=""><span class="ms-1 d-none d-sm-inline"></span>
                </a>
              </td>
                <th>{% if pedido.modified.weekday == 0 %}
              <p>Domingo {{ pedido.modified }}</p>
              {% elif pedido.modified.weekday == 1 %}
              <p>Lunes {{ pedido.modified }}</p>
              {% elif pedido.modified.weekday == 2 %}
              <p>Martes {{ pedido.modified }}</p>
              {% elif pedido.modified.weekday == 3 %}
              <p>Miercoles {{ pedido.modified }}</p>
              {% elif pedido.modified.weekday == 4 %}
              <p>Jueves {{ pedido.modified }}</p>
              {% elif pedido.modified.weekday == 5 %}
              <p>Viernes {{ pedido.modified }}</p>
              {% elif pedido.modified.weekday == 6 %}
              <p>Sabado {{ pedido.modified }}</p>
              {% endif %}</th>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


{% endblock panel-content %}
